html  {
    scroll-behavior: smooth;
}

body{
    background-color: pink;
    
}

/* typography */

h1{
    color:blueviolet;
    font-size: 60px;
    font-family: 'Gloock', serif;
}
p{ 
    color: rgb(211, 0, 116);
    line-height: 24px;
}

.button-alert {
    border-style: groove;
    border-color: rgb(223, 247, 255);
    background-color: rgb(181, 219, 252);
    border-width: 5px;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    display: block;
    width: 80px;
    text-align: center;
    margin-top: 20px;
}

.button-link {
    border-style: solid;
    border-color: rgb(211, 60, 90);
    background-color: lightcoral;
    border-width: 3px;
    text-decoration: none;
    color: black;
    padding: 2px;
    border-radius: 10px;
    display: block;
    width: 80px;
    text-align: center;
    margin-top: 20px;
}


.main-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

footer {
    height: 100px;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(118, 78, 182);
}

nav {
    padding: 20ox;

}

.nav-links {
    list-style-type: none;
    padding: 0;
    width: 300px;
    margin: 0 auto;
    text-align: center;
 
}   
    
.nav-links li {
    display: inline;
}
    



.nav-links li a {
    padding-left: 10px;
    padding-right: 10px;
    

}

.top-banner {
    height: 240px;
    text-align: center;
    padding-top:110;
    background-color: powderblue;
    border-width: 300px;
    color: black;
    padding: 10px;
    border-radius: 20px;
    display: block;
    text-align: center;
    margin-top: 10px;
}