body{
    background-color: pink;
    
}

/* typography */

h1{
    color:blueviolet;
    font-size: 60px;
    font-family: 'Gloock', serif;
}
p{ 
    color: green;
    line-height: 24px;
}

.button-alert {
    border-style: groove;
    border-color: lightblue;
    background-color: aliceblue;
    border-width: 3px;
    text-decoration: none;
    color: black;
    border-radius: 5px;
    display: flexbox;
    width: 80px;
    text-align: center;
    margin-top: 20px;
}

.button-link {
    border-style: solid;
    border-color: rgb(211, 60, 90);
    background-color: lightcoral;
    border-width: 3px;
    text-decoration: none;
    color: black;
    padding: 2px;
    border-radius: 10px;
    display: block;
    width: 80px;
    text-align: center;
    margin-top: 20px;
}